 <html>
 	<head>
		<title>{% block title 'Hangman' %}</title>
		<link rel="stylesheet" type="text/css" href="/style/style.css">
 	</head>
 	<body>
 		<h1>Hangman - Michael Jakober</h1>
 		<p>{{ username }}</p>
 		<a class="link" href="/register">Register</a>
 		<a class="link" href="/login">Login</a>
 		{% block content '' %}
 	</body>
 </html>