 <html>
 	<head>
		<title>{% block title 'Hangman' %}</title>
		<link rel="stylesheet" type="text/css" href="/style/style.css">
		<link rel="shortcut icon" type="image/png" href="/style/hangman.png">
 	</head>
 	<body>
	    {% if SESSION.email != "" %}
		<div class="buttons">
			<span>You are logged in as {{ SESSION.email }}</span>
			<a class="link" href="/logout">Logout</a>
		</div>
	    {% else %}
		<div class="buttons">
			<a class="link" href="/register">Register</a>
			<a class="link" href="/login">Login</a>
		</div>
        {% endif %}
		<a href="/Index" class="title">Hangman</a>
		<div class="clear"></div>
 		{% block content '' %}
 		<div class="footer">(c) by Michael Jakober, 2017</div>
 	</body>
 </html>