{%  extends 'base.html.twig' %}
{% block title %}
	{{ parent() }} - Login
{% endblock %}
{% block content %}
{% if SESSION.LoggedIn != true %}
<form method="POST" class="form">
		<label>
			Email:
			<input type="email" name="email" value="{{ email }}"/>
		</label><br />
		<label>
			Passwort:
			<input type="password" name="password" />
		</label>
		<div class="error">{{ error }}</div>
		<input type="hidden" name="loginCsrf" value="{{ loginCsrf }}">
		<input type="submit" name="login" value="Login" />
	
	</form>
{% else %}
	<p>You are already logged in. Click <a href="/hangman">here</a> to change to the game!</p>
{% endif %}
{% endblock %}